.Header {
    padding: 1rem 0;
    margin-bottom: 1rem;
    background-color: white;
  }
  
  .Header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .Header_logo {
    font-weight: 700;
  }